body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', arial;
}

/* navbar */

nav {
    background-color: #1F2937;
}

.header {
    box-sizing: border-box;
    padding: 4px 16px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-links {
    display: flex;
    gap: 16px;
    list-style-type: none;
    padding: 0;
}

.header-links a {
    text-decoration: none;
    color: #e5e7eb;
}

.header-logo {
    color: #F9FAF8;
    font-weight: bold;
    font-size: 24px;
}

/* hero */

.hero-container {
    width: 100%;
    background-color: #1F2937;
}

.hero {
    box-sizing: border-box;
    max-width: 1200px;
    padding: 100px 0px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 30px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-button {
    background-color: #3882F6;
    font-size: 18px;
    font-weight: bold;
    color: #F9FAF8;
    border: none;
    border-radius: 8px;
    margin-top: 12px;
    padding: 8px 32px;
}

.hero-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;
    background-color: lightslategray;
    width: 1000px;
    height: 250px;
}

/* information */

.information {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.information h2 {
    color: #1F2937;
    font-weight: bolder;
    font-size: 36px;
}

.cards-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding-bottom: 80px;
}

.card {
    width: 180px;
}

.card-fake-image {
    box-sizing: border-box;
    width: 180px;
    height: 180px;
    border: #3882F6 solid 6px;
    border-radius: 10px;
}

.card-text {
    margin-top: 20px;
    font-size: 18px;
}

/* quote */

.quote {
    background-color: #e5e7eb;
    box-sizing: border-box;
    padding-top: 130px;
    padding-bottom: 80px;
}

.quote-text {
    width: 900px;
    font-size: 36px;
    color: #1F2937;
    font-weight: 100;
    font-style: italic;
    margin: 0 auto;
}

.quote-signature {
    width: 800px;    
    margin: 0 auto;
    padding-top: 20px;
    text-align: right;
    font-weight: bolder;
    font-size: 24px;
    color: #1F2937;
}

/* call to action */

.call-container {
    box-sizing: border-box;
    background-color: #3882F6;
    width: 1200px;
    border-radius: 10px;
    margin: 100px auto;
    padding: 50px 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.call-main-text {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.call-secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

.call-button {
    font-size: 18px;
    color: #F9FAF8;
    font-weight: bold;
    padding: 8px 30px;
    border: #F9FAF8 solid 2px;
    background-color: #3882F6;
    border-radius: 8px;
}

/* footer */

footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

footer a {
    text-decoration: none;
    color: #F9FAF8;
    font-size: 24px;
    margin-right: 16px;
}

.footer-date {
    color: #c5c7cb;
    font-size: 10px;
}